{% extends 'narrow.html' %}

{% block content %}
<h1>A local grower</h1>
<p>We are a startup located in Bellingham Washington that cultivates and delivers farm fresh shitake mushrooms to customers all over the world with 1-3 day shipping offered by the U.S. Postal Service.</p>
</br>
<p>Shitake Mushrooms are reguarded as a delicacy all over the worlda. Aside from being a tasty addition to a dish, they are also known for their power medicinal properties. The mushrooms have a vibrant online community that share their many culinary creations.</p>

<h2>Shiitake Feed</h2>
<div id="twitfeed">
    
</div>
{% endblock %}
