<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Bellingham Shiitake Co.</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/jumbotron-narrow.css" rel="stylesheet">
  </head>
  <body>
  <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
              <!--class="active" use a jquery event to switch link with this class-->
              <li role="presentation"><a href="{% url 'narrow' %}">Home</a></li>
              <li role="presentation"><a href="{% url 'about' %}">About</a></li>
              <li role="presentation"><a href="{% url 'order' %}">Order</a></li>
              <li role="presentation"><a href="{% url 'signup' %}">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Bellingham Shiitake Co.</h3>
      </div>

  {% block content %}
  {% endblock %}
  </body>
</html>
