{% extends 'base2.html' %}
{% block content %}
<div class="jumbotron">
        <h1>Shitake Mushrooms</h1>
        <h2>Cultivated to order with free 1-3 day shipping.</h2> 
        <p>
          <a class="btn btn-lg btn-primary" href="" role="button">Learn More&raquo;</a>
        </p>
</div>
{% endblock %}

