{% extends 'base.html' %}

{% block content %}
<form class="form-horizontal" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <div class="form-group" id="orderform"> 
      </div>

      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="QY8GD746X4GWS">
      <table>
      <input type="hidden" name="on0" value="Shitake Pre Order">
      <select name="os0">
	    <option value="1lb Shitake Mushroom">1lb Shitake Mushroom $7.00 USD</option>
	    <option value="5lb Shitake Mushroom">5lb Shitake Mushroom $28.00 USD</option>
	    <option value="10lb shitake Mushroom">10lb shitake Mushroom $60.00 USD</option>
      </select>
      </table>
      <!--<input type="hidden" name="currency_code" value="USD">-->
        <input type="submit" value="Complete Order" class="btn btn-lg btn-success">
</form>
{% endblock %}

