{% extends 'base.html' %}

{% block content %}
<form class="form-horizontal" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <div class="form-group" id="orderform"> 
        <input type="email" placeholder="Enter email" class="col-md-5">
        <input type="submit" value="Complete Order" class="btn btn-lg btn-success">
      </div>
</form>
{% endblock %}
